.wrapper {
    height: 100%;
    max-width: calc(1920px - 405px * 2);
    margin: 0 auto;
}
.someClass {
    display: flex;
    justify-content: space-between;
}
.content {
    display: flex;
    justify-content: space-between;
}
