<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${anime.getAnimeName()}"></title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div th:insert="~{header::header}"></div>
    <div class="wrapper">
        <div class="animeView">
            <p th:text="${anime.getAnimeName()}"></p>
            <form th:action="@{${anime.getId()}}" th:method="post" method="post">
                <label for="btn">
                    <button id="btn">Добавить</button>
                </label>
            </form>
        </div>
    </div>
</body>
</html>