<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${Title}"></title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/css/Images/anime_ico.png}" href="../static/css/Images/anime_ico.png" type="image/icon type">
</head>
</html>