<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${Title}"></title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div th:insert="~{header::header}"></div>
    <div class="wrapper">
        <div class="someClass">
            <h4>Название</h4>
            <h4>Рейтинг</h4>
            <h4>Просмотры</h4>
        </div>
        <th:block th:each="animes: ${anime}" th:class="someClass">
            <div class="someClass">
                <a th:href="'/anime/' + ${animes.getId()}" th:text="${animes.getAnimeName()}"></a>
                <p th:text="${animes.getAnimeRating()}"></p>
                <p th:text="${animes.getAnimeViews()}"></p>
            </div>
        </th:block>
    </div>
</body>
</html>