<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head th:insert="~{head::head}">
</head>
<body>
    <div th:insert="~{header::header}"></div>
    <div class="wrapper">
        <h1 th:text="${user.getUsername()}"></h1>
    </div>
    <div class="wrapper">
        <th:block th:each="animes : ${anime}">
            <p th:text="${animes.getAnime()}"></p>
        </th:block>
    </div>
</body>
</html>